.App {
  text-align: center;
}

.calendar-display {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.calendar-display div {
  flex-basis: 14.2857%;
  background-color: beige;
  border:1px solid #ccc;
  padding: 7px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
}

.calendar-display div[data-previous-month] {
  background-color: white;
}

.calendar-display div[data-next-month] {
  background-color: white;
}

.calendar-display span {
  flex-basis: calc(100% - 14px);
}
